%div.page-header
  %h1 Your account
%h2 Your tickets
- if current_user.tickets.empty?
  %p 
    You haven't yet applied for any tickets.
- else
  = render 'tickets/ticket_table', tickets: current_user.tickets
= link_to "Apply for tickets!", tickets_path, :class => 'btn btn-primary'
