.page-header
  %h1 Change name on ticket
- if @ticket.nil?
  %p Ticket not found.
  = link_to 'Back', home_path, :class => 'btn btn-default'
- else
  = render :partial => 'form', :locals => { :new => false }
